@media (max-width: 1170px)
    .navbar
        min-height: 80px
        &-brand
            &__logo
                width: 260px
        &-phone
            font-size: 26px
    .quest
        &__title
            font-size: 36px         
@media (max-width: 991px)
    .navbar
        min-height: 65px
        & .container-fluid
            padding: 0 15px
        &-light .navbar-toggler
            position: absolute
            top: 15px
            right: 15px
        &-phone
            position: absolute
            top: 70px
            left: 50%
            transform: translateX(-50%)
        &-brand
            padding: 16px 0
        &-nav
            background-color: rgba(0,0,0, .9)
            position: relative
            z-index: 20
        .nav-item
            margin-right: 0 
    .navbar-collapse
        position: relative
        top: -17px
    .quest__title
        font-size: 26px
        margin: 0 0 50px     
@media (max-width: 700px)
    .navbar-phone
        font-size: 24px
    .quest
        &__title
            display: none
    .selecter
        display: block !important
        max-width: 300px
        width: 100%
        margin: 41px auto 39px
    .selecter-selected
        border-radius: 5px    
    .selecter-selected,
    .selecter-item
        font-size: 18px
        color: $black
    .selecter-selected:after
        border-top: 8px solid $black
        border-left: 7px solid transparent
        border-right: 7px solid transparent
@media (max-width: 575px)
    .quest
        &-block
            justify-content: center
            &__image
                width: 235px
    .grid
        width: 235px
@media (max-width: 516px)
    .quest
        &-block
            justify-content: center
            &__image
                width: 200px
    .grid
        width: 200px
@media (max-width: 446px)
    .quest
        &-block
            justify-content: center
            &__image
                width: 170px
    .grid
        width: 170px                                       
@media (max-width: 425px)
    .navbar
        min-height: 60px
        &-brand
            &__logo
                width: 223px
    .navbar, .navbar-expand
        background-color: #000 !important
    .burger-block
        z-index: 40
@media (max-width: 410px)
    .navbar-phone
        font-size: 18px
    .selecter
        margin: 20px auto 39px
@media (max-width: 386px)
    .quest
        &-block
            justify-content: center
            &__image
                width: 140px
    .grid
        width: 140px
    .quest
        & .container-fluid
            padding: 0 8px                     
@media (max-width: 375px)
    .selecter
        max-width: 250px
    .selecter-selected,
    .selecter-item    
        font-size: 14px            