@media (max-width: 1170px)
    .navbar
        min-height: 80px
        &-brand
            &__logo
                width: 260px
        &-phone
            font-size: 26px
    .quest
        &__title
            font-size: 36px         
@media (max-width: 991px)
    .navbar
        min-height: 65px
        & .container-fluid
            padding: 0 15px
        &-light .navbar-toggler
            position: absolute
            top: 15px
            right: 15px
        &-phone
            position: absolute
            top: 70px
            left: 50%
            transform: translateX(-50%)
        &-brand
            padding: 16px 0
        &-nav
            background-color: rgba(0,0,0, .9)
            position: relative
            z-index: 20
        .nav-item
            margin-right: 0 
    .navbar-collapse
        position: relative
        top: -17px
    .quest__title
        font-size: 26px
        margin: 0 0 50px     
@media (max-width: 767px)
    .quest
        &-block
            justify-content: center
@media (max-width: 700px)
    .navbar-phone
        font-size: 24px
    .quest
        &__title
            display: none    
@media (max-width: 425px)
    .navbar
        min-height: 60px
        &-brand
            &__logo
                width: 223px
    .navbar, .navbar-expand
        background-color: #000 !important
    .burger-block
        z-index: 40    