.section-quest-inner
    padding: 35px 0 38px
.breadcrumb
    &-list
        padding: 0
        margin: 0
        list-style-type: none
        display: flex
        &__item.active
            color: $white
        &__link
            color: $white
            opacity: 0.5
            &:after
                content: '/'
                margin: 0 5px
.quests
    &-block
        display: flex
    &-left
        &__title
            margin: 36px 0 25px
        &__description
            font-size: 18px
            color: $white 
            margin: 0 0 29px
        &__link
            max-width: 455px
            height: 88px
            border: 5px solid $white
            border-radius: 5px
            color: $white !important
            display: flex
            align-items: center
            justify-content: center
            font-size: 30px
            cursor: pointer    
.specifications
    margin-bottom: 60px
    &-list
        padding: 0
        margin: 0
        list-style-type: none
        &__left
            font-size: 36px
            color: $white
            opacity: .5
            margin-right: 20px
        &__right                
            font-size: 36px
            color: $white   
.fancy-box-main
    margin-bottom: 20px
.fancy-box-main a
    display: block
.fancy-box-main-inner
    display: flex
    justify-content: space-between
.fancy-box-main-inner img
    width: 138px
    height: 97px    